.App {
  text-align: center;
  background-color: black;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  
 
}

.header{
  color: white;
  font-size: 3.0em;
  margin-top: 0;
  padding-top: 20px;
}

.App-intro {
  font-size: large;
}

img{
  height: 274px;
  width: 185px;

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
